<footer class="bg-dark text-center text-light py-4">
    <div class="container">
        <p class="mb-1">&copy; 2024 MicoPlaylist. All rights reserved.</p>
        <div class="social-icons">
            <a href="#" class="text-light mx-3" title="Facebook">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="#" class="text-light mx-3" title="Twitter">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="#" class="text-light mx-3" title="Instagram">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>
</footer>
